<c-row ngPreserveWhitespaces>
  <c-col xs="12">

    <c-card class="mb-4">
      <br>
      <h1 class="text-center">Stock de Celulares</h1>
      <form action="" (ngSubmit)="crearCelular()" [formGroup]="validarFormulario"  id="validarFormulario">
        <div class="container">
          <div class="col-12">


            <div class="row justify-content-center">
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="marca" class="col-sm-4 col-form-label">Marca</label>
                      <div class="col-sm-6">
                          <input type="text" id="marca" class="form-control" name="marca"fo
                          formControlName="marca"


                          >
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="modelo" class="col-sm-4 col-form-label">Modelo</label>
                      <div class="col-sm-6">
                          <input type="text" id="modelo" class="form-control" name="modelo"fo
                          formControlName="modelo"

                          >
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="rom" class="col-sm-4 col-form-label">ROM</label>
                      <div class="col-sm-6">
                          <input type="text" id="almacenamiento" class="form-control" name="almacenamiento"fo
                          formControlName="almacenamiento"

                          >
                      </div>
                  </div>
              </div>
          </div>
          <br>

          <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group row align-items-center">
                    <label for="marca" class="col-sm-4 col-form-label">Color</label>
                    <div class="col-sm-6">
                        <input type="text" id="color" class="form-control" name="color"fo
                        formControlName="color"

                        >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row align-items-center">
                    <label for="modelo" class="col-sm-4 col-form-label">RAM</label>
                    <div class="col-sm-6">
                        <input type="text" id="ram" class="form-control" name="ram"fo
                        formControlName="ram"

                        >
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row align-items-center">
                    <label for="rom" class="col-sm-4 col-form-label">Bateria</label>
                    <div class="col-sm-6">
                        <input type="number" id="bateria" class="form-control" name="bateria"fo
                        formControlName="bateria"

                        >
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="form-group row align-items-center">
                  <label for="marca" class="col-sm-4 col-form-label">Precio</label>
                  <div class="col-sm-6">
                      <input type="number" id="precio" class="form-control" name="precio"fo
                      formControlName="precio"

                      >
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group row align-items-center">
                  <label for="modelo" class="col-sm-4 col-form-label">descuento</label>
                  <div class="col-sm-6">
                      <input type="text" id="descuento" class="form-control" name="descuento"fo
                      formControlName="descuento"

                      >
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group row align-items-center">
                  <label for="rom" class="col-sm-4 col-form-label">imei</label>
                  <div class="col-sm-6">
                      <input type="text" id="imei" class="form-control" name="imei"fo
                      formControlName="imei"

                      >
                  </div>
              </div>
          </div>
      </div>
          </div>
        </div><br><br>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-outline-success btn-outline-isra" shape="rounded-pill"
          ><svg cIcon class="me-2" name="cil-save"></svg>

          </button>

        </div>
      </form>




        <br>
        <h1 class="text-center">lista de Celulares</h1>
        <div class="container ">
          <div class="row justify-content-center">
            <div class="col-11">
              <table [hover]="true" cTable>
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">rom</th>
                  <th scope="col">color</th>
                  <th scope="col">ram</th>
                  <th scope="col">bateria</th>
                  <th scope="col">precio</th>
                  <th scope="col">descuento</th>
                  <th scope="col">imei</th>
                  <th scope="col">acciones</th>
                </tr>
                </thead>
                <tbody>
                  @for(r of listadeCelulares; track r;){
                    <tr>
                      <th scope="row">{{$index+1}}</th>
                      <td>{{r.marca}}</td>
                      <td>{{r.modelo}}</td>
                      <td>{{r.ram}}</td>
                      <td>{{r.color}}</td>
                      <td>{{r.ram}}</td>
                      <td>{{r.bateria}}</td>
                      <td>{{r.precio}}</td>
                      <td>{{r.descuento}}</td>
                      <td>{{r.imei}}</td>
                      <td >
                        <button (click)="editarCelular(r)" cButton color="warning" variant="outline">
                          <svg cIcon class="me-2" name="cil-pencil"></svg>
                        </button>
                        <button (click)="eliminarCelular(r)" cButton color="danger" variant="outline" class="btn-outline-isra"
                          >
                          <svg cIcon class="me-2" name="cil-trash" ></svg>
                        </button>
                    </td>
                  </tr>
                  }

                </tbody>
              </table>

            </div>
          </div>
        </div>

    </c-card>
  </c-col>

</c-row>

