<c-row ngPreserveWhitespaces>
  <c-col xs="12">

    <c-card class="mb-4">
      <br>
      <h1 class="text-center">Realizar Venta por ID</h1><br>
      <form action="" [formGroup]="validarFormulario" id="validarFormulario" >
       <div class="container">
          <div class="col-12">

            <div class="row justify-content-center">
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="marca" class="col-sm-4 col-form-label">Cliente ID</label>
                      <div class="col-sm-6">
                          <input type="text" id="clienteId" class="form-control"
                          name="clienteId"
                          formControlName="clienteId">
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="modelo" class="col-sm-4 col-form-label">Celular ID</label>
                      <div class="col-sm-6">
                          <input type="text" id="celularId" class="form-control"
                          name="celularId"
                          formControlName="celularId">
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row align-items-center">
                    <label for="modelo" class="col-sm-4 col-form-label">Tipo de Pago</label>
                    <div class="col-sm-6">
                        <select aria-label="Default select example" cSelect id="metododePago" class="form-control"
                          name="metododePago"
                        formControlName="metododePago"> >
                          <option></option>
                          <option value="efectivo">efectivo</option>
                          <option value="QR transferencia">QR transferencia</option>
                          <option value="tarjeta">tarjeta</option>
                        </select>
                    </div>
                </div>
            </div>
            </div>

          </div>
          </div>
        <br><br>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button (click)="crearVenta()" type="button" class="btn btn-outline-success btn-outline-isra" shape="rounded-pill"><svg cIcon class="me-2" name="cil-save"></svg>
            Realizar Venta
          </button>

        </div>
      </form>
      <br>
      <h1 class="text-center">Realizar Venta por IMEI & CI</h1><br>

      <form action="" [formGroup]="validarFormularioVentaCIIMEI" id="validarFormularioVentaCIIMEI" >
        <div class="container">
           <div class="col-12">

             <div class="row justify-content-center">
               <div class="col-md-4">
                   <div class="form-group row align-items-center">
                       <label for="marca" class="col-sm-4 col-form-label">imei</label>
                       <div class="col-sm-6">
                        <select aria-label="Default select example" cSelect id="IMEI" class="form-control"
                          name="IMEI"
                        formControlName="IMEI"> >
                          @for (lista of listadeCelulares; track lista){
                            <option value="{{lista.imei}}">{{lista.marca}} {{lista.modelo}} precio {{lista.precio}} Bs</option>
                          }
                        </select>
                       </div>

                   </div>
               </div>
               <div class="col-md-4">
                   <div class="form-group row align-items-center">
                       <label for="modelo" class="col-sm-4 col-form-label">CI</label>
                       <div class="col-sm-6">
                        <select aria-label="Default select example" cSelect id="CI" class="form-control"
                          name="CI"
                        formControlName="CI"> >
                          @for (lista of listadeClientes; track lista){
                            <option value="{{lista.CI}}"> CI: {{lista.CI}} {{lista.Nombre}} {{lista.Apellido}}</option>
                          }
                        </select>

                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                 <div class="form-group row align-items-center">
                     <label for="modelo" class="col-sm-4 col-form-label">Tipo de Pago</label>
                     <div class="col-sm-6">
                         <select aria-label="Default select example" cSelect id="metododePago" class="form-control"
                           name="metododePago"
                         formControlName="metododePago"> >
                           <option></option>
                           <option value="efectivo">efectivo</option>
                           <option value="QR transferencia">QR transferencia</option>
                           <option value="tarjeta">tarjeta</option>
                         </select>
                     </div>
                 </div>
             </div>
             </div>

           </div>
           </div>
         <br><br>

         <div class="d-grid gap-2 col-6 mx-auto">
           <button (click)="crearVentaPorCIyIMEI()" type="button" class="btn btn-outline-success btn-outline-isra" shape="rounded-pill"><svg cIcon class="me-2" name="cil-save"></svg>
             Realizar Venta
           </button>

         </div>
       </form>




        <br>
        <h1 class="text-center">lista de Ventas</h1>
        <div class="container ">
          <div class="row justify-content-center ">
            <div class="col-12">
              <table [hover]="true" cTable >
                <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">CI</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Imei</th>
                  <th scope="col">precio</th>
                  <th scope="col">descuento %</th>
                  <th scope="col">descuento BS</th>

                  <th scope="col">fecha</th>
                  <th scope="col">Tipo de pago</th>
                  <th scope="col">total</th>
                  <th scope="col">acciones</th>
                </tr>
                </thead>
                <tbody>
                  @for (lista of listadeVentas; track lista) {
                    <tr>
                      <th scope="row">{{$index+1}}</th>
                      <td>{{lista.cliente.Nombre}}</td>
                      <td>{{lista.cliente.Apellido}}</td>
                      <td>{{lista.cliente.CI}}</td>
                      <td>{{lista.celular.marca}} {{lista.celular.modelo}}</td>
                      <td>{{lista.celular.imei}}</td>
                      <td>{{lista.celular.precio}} Bs</td>
                      <td>{{lista.celular.descuento}}</td>
                      <td>{{lista.descuentoAplicado}}</td>
                      <td>{{lista.fecha}}</td>
                      <td>{{lista.metododePago}}</td>
                      <td>{{lista.total}}</td>
                      <td >
                        <button (click)="verVenta(lista,lista._id)" cButton color="warning" variant="outline">
                          <svg cIcon class="me-2" name="cil-pencil"></svg>
                        </button>
                        <button (click)="eliminarVenta(lista._id)" cButton color="danger" variant="outline" class="btn-outline-isra">
                          <svg cIcon class="me-2" name="cil-trash" ></svg>
                        </button>
                    </td>
                    </tr>
                  }

                </tbody>
              </table>

            </div>
          </div>
        </div>

    </c-card>
  </c-col>

</c-row>
