<c-row ngPreserveWhitespaces>
  <c-col xs="12">

    <c-card class="mb-4">
      <br>
      <h1 class="text-center">Registro de Clientes</h1>
      <form action="" [formGroup]="validarFormulario" id="validarFormulario"  >
        <div class="container">
          <div class="col-12">


            <div class="row justify-content-center">
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="marca" class="col-sm-4 col-form-label">CI</label>
                      <div class="col-sm-6">
                          <input type="number" id="CI" class="form-control"
                          name="CI"
                          formControlName="CI">
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group row align-items-center">
                      <label for="modelo" class="col-sm-4 col-form-label">Nombres</label>
                      <div class="col-sm-6">
                          <input type="text" id="Nombre" class="form-control"
                          name="Nombre"
                          formControlName="Nombre">
                      </div>
                  </div>
              </div>
          </div>
          <br>

          <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group row align-items-center">
                    <label for="marca" class="col-sm-4 col-form-label">Apellidos</label>
                    <div class="col-sm-6">
                        <input type="text" id="Apellido" class="form-control"
                        name="Apellido"
                          formControlName="Apellido">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row align-items-center">
                    <label for="modelo" class="col-sm-4 col-form-label">Correo</label>
                    <div class="col-sm-6">
                        <input type="email" id="Correo" class="form-control"
                        name="Correo"
                          formControlName="Correo">
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="form-group row align-items-center">
                  <label for="marca" class="col-sm-4 col-form-label">Nº Celular</label>
                  <div class="col-sm-6">
                      <input type="number" id="telefono" class="form-control"
                      name="telefono"
                      formControlName="telefono">
                  </div>
              </div>
          </div>


      </div>
          </div>
        </div><br><br>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button (click)="guardarOEditarCliente()" type="button" class="btn btn-outline-success btn-outline-isra" shape="rounded-pill"><svg cIcon class="me-2" name="cil-save"></svg>
            Guardar
          </button>
        </div>
      </form>




        <br>
        <h1 class="text-center">lista de Clientes</h1>
        <div class="container ">
          <div class="row justify-content-center">
            <div class="col-11">
              <table [hover]="true" cTable>
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">CI</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Nº Celular</th>
                  <th scope="col">acciones</th>
                </tr>
                </thead>
                <tbody>
                  @for(lista of listadeClientes;track lista){
                    <tr>
                      <th scope="row">{{$index+1}}</th>
                      <td>{{lista.CI}}</td>
                      <td>{{lista.Nombre}}</td>
                      <td>{{lista.Apellido}}</td>
                      <td>{{lista.Correo}}</td>
                      <td>{{lista.telefono}}</td>

                      <td >
                        <button (click)="editarCliente(lista,lista._id)" cButton color="warning" variant="outline">
                          <svg cIcon class="me-2" name="cil-pencil"></svg>
                        </button>
                        <button (click)="eliminarCliente(lista._id)" cButton color="danger" variant="outline" class="btn-outline-isra"
                          >
                          <svg cIcon class="me-2" name="cil-trash" ></svg>
                        </button>
                    </td>
                    </tr>
                  }


                </tbody>
              </table>

            </div>
          </div>
        </div>

    </c-card>
  </c-col>

</c-row>

